
.body {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    overflow-x: hidden;

}



.main__body {
 
    margin: 0px;
    flex: .85;
    height: 100vh;
    overflow-y: hidden;

}

.universal__body {
    width: 98%;
    /* padding-left: 20px;*/
     /* padding-right: 200px;  */
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1% 1%;
    overflow-y: scroll;
    overflow-x: hidden;



}