.news__box {
    margin-top: 10px;
    display: grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 3 columns with equal width */
    grid-gap: 10px;
    /* Gap between columns and rows */

}

.news__item {
    width: 225px;
    height: 320px;
    background-color:#1A1E23;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.thubnail{
    flex: .5;
    /* background-color: red; */
}
.description{

    flex: .5;
    background-color:#1A1E23;
}

.thubnail img{
    height: 200px;
    width: 100% ;
    
}

.description a {
    text-decoration: none; /* Remove underline */
    color: #e4e4e4; /* Default text color */
  }
  
  .description a:visited {
    color: #bdbbce; /* Text color for visited links */
  }
  
  .description a:hover {
   text-decoration: underline; /* Text color on hover */
  }
  
  .description a:active {
    color: #00f; /* Text color when link is active/clicked */
  }
  
  .title{
    position: relative;
    top: 150px;
  }